<!DOCTYPE html>
<html>
<head>
	<title>Jedi</title>
	<link rel="stylesheet" type="text/css" href="ui/css/style.css">
    <script type="text/javascript" src="vendors/underscore-min.js"></script>
     <script type="text/javascript" src="vendors/jquery.min.js"></script>
    <script type="text/javascript" src="vendors/backbone-min.js"></script>
   
</head>
<body>
	<div class="app-container">
		<div class="css-root">
    		<h1 id="location" class="css-planet-monitor">Obi-Wan currently on Tatooine</h1>

    		<section class="css-scrollable-list">
    		  <ul id="jedis" class="css-slots">
    		    <li class="css-slot">
    		    </li>
    		    <li class="css-slot">
    		    </li>
    		    <li class="css-slot">
    		    </li>
    		    <li class="css-slot">
    		    </li>
    		    <li class="css-slot">
    		    </li>
    		  </ul>

    		  <div class="css-scroll-buttons">
    		    <button class="css-button-up"></button>
    		    <button class="css-button-down"></button>
    		  </div>
    		</section>
		</div>
	</div>
     
    <!-- Templates -->

     <script type="text/template" id="locationView">
        Obi-Wan currently on <%= name %>
     </script>

     <script type="text/template" id="jedisListItem">
                  <h3><%= name %></h3>
                  <h6>Homeworld: <%= homeworld.name %></h6>
     </script>

     <script type="text/javascript" src="app/models.js"></script>
     <script type="text/javascript" src="app/collections.js"></script>
     <script type="text/javascript" src="app/view.js"></script>
     <script type="text/javascript" src="app/app.js"></script>

     
</body>
</html>